
img {
    height: 150px;
    display: inline-block;
}

/* #image-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

#image-list > div {
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

h3 {
    margin: 0;
}